In [1]:
import sqlite3
import pandas as pd
import numpy as np
import scipy.stats as stat
import seaborn as sns
import matplotlib.pyplot as plt
import statsmodels
from statsmodels.formula.api import ols
import statsmodels.api as sm
from statsmodels.stats.multicomp import pairwise_tukeyhsd
from statsmodels.stats.multicomp import MultiComparison



conn = sqlite3.connect('Northwind_small.sqlite')
cur = conn.cursor()

cur.execute("""
SELECT od.Quantity, od.Discount, c.Region  FROM OrderDetail od
INNER JOIN "Order"  o ON o.Id = od.Id
INNER JOIN Customer c ON c.Id = o.CustomerId
;
""")
table = cur.fetchall()

cols = [i[0] for i in cur.description]
print(cols)
df2 = pd.DataFrame.from_records(data = table, columns=cols)

['Quantity', 'Discount', 'Region']

In [2]:
df2.head()

Empty DataFrame
Columns: [Quantity, Discount, Region]
Index: []